---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
const titleColor = "maroon";
const titleSize = "3.5rem";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>私の素晴らしいブログのサブタイトル</h2>
</BaseLayout>
